constraints: array ==0.5.2.0,
             base ==4.8.2.0,
             binary ==0.8.5.1,
             bytestring ==0.10.8.1,
             containers ==0.5.8.2,
             deepseq ==1.4.3.0,
             ghc-prim ==0.4.0.0,
             hashable ==1.2.6.0,
             integer ==0.5.1.0,
             microlens ==0.4.7.0,
             microlens-mtl ==0.1.10.0,
             monad-loops ==0.4.3,
             mtl ==2.2.1,
             ohua-core ==0.7.2,
             rts ==0.1.0.0,
             text ==1.2.2.1,
             transformers ==0.5.2.0,
             transformers-compat ==0.5.0.4,
             unordered-containers ==0.2.7.1,
             aeson ==1.1.0.0
